:root{
    --main-bg : #003366;
    --main-cl : #FFFFFF;
} 
.ft-large{
    font-size: large;
}
.bg-lb{
    padding: 5px  50px 5px 50px;
    background-color: #225588;
}
.cl-main{
    color: var(--main-cl);
}
.bg-main{
    background-color: var(--main-bg);
}
.page-width{
    width: 80%;
}
.center{
    margin: auto;
}
.container-fluid{
    background-color: #acb9d3;  
}
.card-img-top{
    object-fit: cover;
    height: 150px;
}
.card-deck{
  display:flex;
}
.card{
  width:100%;
  margin: 2px;
  font-size:15px;
  border-radius: 10px;
  overflow:hidden;
  
}

.card-footer a{
  width: 100%;
  
}

.card-footer{
  background-color:inherit;
  padding: 10px;
  border: 0px;
}
